In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('melbourne_ta_reviews.csv', sep = ',')

In [17]:
display(data)

,name,rankingPosition,priceLevel,category,rating,address,numberOfReviews
0,Hopetoun Tea Rooms est. 1892,26,$$ - $$$,restaurant,4.5,"421 Bourke St Hopetoun Tea Rooms, Melbourne, V...",2311
1,Da Guido La Pasta,2,$$ - $$$,restaurant,4.5,"130 Lygon St Carlton, Melbourne, Victoria 3053...",1095
2,Foglia di Fico,3,$$ - $$$,restaurant,5.0,"585 La Trobe St (Spencer St entrance), Melbour...",202
3,Pidapipo Gelateria,11,$,restaurant,4.5,"299 Lygon St, Carlton, Melbourne, Victoria 305...",433
4,Kazuki's,9,$$$$,restaurant,4.5,"121 Lygon St Carlton, Melbourne, Victoria 3053...",500
...,...,...,...,...,...,...,...
495,Bella Cosi,446,$$ - $$$,restaurant,4.5,"71 Beach St, Melbourne, Victoria 3207 Australia",71
496,At Ease - Easy Thai,437,$,restaurant,4.5,"195 Lonsdale St, Melbourne, Victoria 3000 Aust...",75
497,Lolo and Wren,436,$$ - $$$,restaurant,4.5,"484 Albion St West Brunswick, Melbourne, Victo...",84
498,Thai city,438,$$ - $$$,restaurant,4.5,"124 Lygon Street Carlton, Melbourne, Victoria ...",72
499,Tokui Sushi,429,$,restaurant,5.0,"260 Lonsdale St, Melbourne, Victoria 3000 Aust...",50

In [19]:
cat1 = data[data['priceLevel'] == '$$ - $$$'].sort_values(by = 'rankingPosition').head(5)
display(cat1)

for index, row in cat1.iterrows():
    print(row['name'])

,name,rankingPosition,priceLevel,category,rating,address,numberOfReviews
359,Mister and Miss Cafe,1,$$ - $$$,restaurant,4.0,"Mont Albert Victoria 711-713 Whitehorse Rd, Mo...",199
379,Fifteen Pounds Cafe,1,$$ - $$$,restaurant,4.5,"21 Railway Place, Fairfield, Yarra, Victoria 3...",84
313,400 Gradi,1,$$ - $$$,restaurant,4.0,"99 Lygon St, Brunswick West, Moreland, Victori...",773
34,Scopri,1,$$ - $$$,restaurant,5.0,"191 Nicholson St Carlton, Melbourne, Victoria ...",1049
309,GRK Greek Kitchen & Bar,1,$$ - $$$,restaurant,4.5,"845/847 High St, Thornbury, Darebin, Victoria ...",115

Mister and Miss Cafe
Fifteen Pounds Cafe
400 Gradi
Scopri
GRK Greek Kitchen & Bar

In [22]:
Bettyâ€™s Burgers & Concrete Codata[data['priceLevel'] == '$$$$'].sort_values(by = 'rankingPosition').head(5)

,name,rankingPosition,priceLevel,category,rating,address,numberOfReviews
162,Centonove,1,$$$$,restaurant,4.5,"109 Cotham Rd, Kew, Boroondara, Victoria 3101 ...",252
299,Amaru Melbourne Restaurant,1,$$$$,restaurant,4.5,"Shop 5 1121 High St, Armadale, Stonnington, Vi...",118
287,Esca Grill,1,$$$$,restaurant,4.5,"650 Mt Alexander Rd, Moonee Ponds, Moonee Vall...",345
245,Matteo's,1,$$$$,restaurant,4.5,"533 Brunswick St Melbourne, North Fitzroy, Yar...",378
186,Attica,1,$$$$,restaurant,4.5,"74 Glen Eira Rd, Ripponlea, Port Phillip, Vict...",626

In [23]:
len('Bettyâ€™s Burgers & Concrete Co')

29